.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nes-badge {
  min-width: 250px !important;
}

.header-icon:hover {
  filter: brightness(100%) grayscale(100%) !important;
}
